<h1>My list of flats</h1>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-sm-4">
      <h2><%= flat.name %></h2>
      <p><%= flat.address %></p>
      </div>
    <% end %>
  </div>
</div>
